<!DOCTYPE html>
<html>
        <head>



        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
        <link rel="stylesheet" type="text/css" href="main.css" >

        </head>        

        <body> 
            {{ template "body" . }}

            {{ template "footer" . }}
            
            {{ template "menu" . }}


    </body>
</html>


{{ define "menu" }}
<nav>
        <ul>
                <li><a>Menu</a></li>
        </ul>
</nav>
{{ end }}

{{ define "body" }}
       <h1>Main Body Content</h1>>
{{ end }}

{{ define "footer" }}
<footer>Footer</footer>
{{ end }}


